{% extends 'base.html.twig' %}

{% block title %}Hello WeatherForecastController!{% endblock %}

{% block body %}
<div>
    <h1>This is template </h1>
    <h2>Frecast for: </h2>
    {% block content %}
</div>
{% endblock %}
{% block javascripts %}

{% endblock %}
{% endblock %}
