{% extends 'base.html.twig' %}

{% block title %}Hello WeatherForecastController!{% endblock %}

{% block body %}
<div>
    <h1> Forecast Session for: {{ city }}, {{ cc }} </h1>
</div>
{% endblock %}
