{% extends 'base.html.twig' %}

{% block title %}Hello WeatherController!
{% endblock %}


{% block body %}
	<div>
		<h1>Forecast</h1>
		It's going to be {{ forecast }}

	</div>
{% endblock %}
{% block javascripts %}

	 <script>
	
	</script>
{% endblock %}
