{% extends 'base.html.twig' %}

{% block title %}Hello WeatherController!
{% endblock %}


{% block body %}
	<div>
		<h1>Forecast</h1>
		<div>
			{% for message in app.flashes('info') %}
				{{ message }}
			{% endfor %}
		</div>
		{% for forecast in forecasts  %}
			It's going to be {{ forecast }}
			<br/>
		{% endfor %}
		<br/>
		{{ threshold }}
	</div>
{% endblock %}
{% block javascripts %}

	<script>
		{# const fetchData = fetch("http://api.localhost:8000/forecast/api", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Accept': 'application/json',
			},
			body: JSON.stringify({
				threshold: 50,
				trials: 3,
				email: 'xxx@xxx.xxx',
			})
		}).then(data => data.json()).then(response => console.log(response)); #}
	</script>
{% endblock %}
